<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- import bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- JS -->
        <script src="AngularJs.js"></script>
         <!-- AngularJS -->
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="myController.js"></script>
    </head>





    <body style="background-color:#a6b3bb">
      <div ng-app = "myApp" ng-controller = "myController">
        <!-- Navigation bar -->
        <div class="header">
          <div class="logo">
            <i class="fa fa-arrow-left"></i>
            <a>350Assignment2</a>
          </div>
      
          <ul class="menu">
            <a class="fa fa-home" href="none"></a>
            <a class="fa fa-file" href="#" ng-click="toggleFile()"></a>
            <a class="fa fa-comments" href="#" ng-click="toggleForm()"></a>
          </ul>
        </div>



      
        <div class=".container-fluid">
          <!-- Chat box -->
          <div class="row" style="width:100%">
            <div class="col-sm-9">
              <div class="row">

                  <div class="col-sm"> 
                        <div class='layout__list'>
                          <div class="list__type">
                            <h1>To Do</h1>
                          </div>
                          <div class='list__card'  ng-repeat="task in TodoList">
                              <label class='card__label'>{{ task.title }}</label>
                              <div class='card__date'>{{ task.date }}</div>
                          </div>
                          <div class="addTaskButton" ng-click="addNewTask()">
                              +Add Another Task  
                          </div>
                        </div>
                  </div>

                  <div class="col-sm"> 
                      <div class='layout__list'>
                        <div class="list__type">
                          <h1>To Do</h1>
                        </div>
                        <div class='list__card'  ng-repeat="task in DoingList">
                            <label class='card__label'>{{ task.title }}</label>
                            <div class='card__date'>{{ task.date }}</div>
                        </div>
                        <div class="addTaskButton" ng-click="addNewTask()">
                            +Add Another Task  
                        </div>
                      </div>
                  </div>

                  <div class="col-sm  mr-auto"> 
                      <div class='layout__list'>
                        <div class="list__type">
                          <h1>To Do</h1>
                        </div>
                        <div class='list__card'  ng-repeat="task in DoneList">
                            <label class='card__label'>{{ task.title }}</label>
                            <div class='card__date'>{{ task.date }}</div>
                        </div>
                        <div class="addTaskButton" ng-click="addNewTask()">
                          +Add Another Task  
                        </div>
                      </div>
                  </div>
              </div>

            </div>

            <div class="col-sm-3">
              <div ng-model="chatbox" style="display:{{chatbox.style.display}}">
              <div class="chatbox">
                  <div class="chat-header row" style="margin-left: 0px;margin-right: 0px;">
                      <h2 style="margin:auto;">Chat Room </h2>
                      <icon class="fa fa-window-close closeButton" style="margin:auto;" ng-click="closeForm()"></icon>
                  </div>
                  <!-- empty column -->
              </div>
              <div style="background-color: #a6b3bb;width:100%">
                  <img src="ChatImage.png" style="width:100%;height:600px; "> 
              </div>
              <div class="row" style="margin-left: 0px;margin-right: 0px;">
                  <textarea class="col-sm-10" style="resize: none" placeholder="Type Message Here" name="msg" required></textarea>
                  <div class="col-sm-2" style="background-color:#fff">
                  <icon class="fa fa-arrow-circle-up" style="font-size:-webkit-xxx-large;float:right;color:#1390ff;"></icon>
                  </div>
              </div>
              </div>
              <div ng-model="filemanager" style="display:{{filemanager.style.display}}">
                <div class="filemanager">
                    <div class="chat-header row" style="margin-left: 0px;margin-right: 0px;">
                        <h2 style="margin:auto;">File Manager </h2>
                        <icon class="fa fa-window-close closeButton" style="margin:auto;" ng-click="closeFile()"></icon>
                    </div>
                    <!-- empty column -->
                </div>
                <div style="background-color: #a6b3bb;width:100%">
                    <img src="FileManagement.png" style="width:100%;height:600px; "> 
                </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>

       
        <!-- enable bootstrap plugins -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
      </html>