body {
  font-family: Helvetica;
  font-weight: bold;
}

*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.header{
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
.container {
  width: 100%;
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  background:#00ffd0;

}

.layout {
  margin: 50px;
  padding: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;

}
.layout__list {
  align-self: start;
  background-color: lightgray;
  display: grid;
  grid-gap: 5px;
  border-radius: 4px;

}

.list__type {
  margin: 6px;
  padding: 8px;
}

.list__card {
  background-color: ghostwhite;
  background: ghostwhite;
  display: grid;
  box-sizing: border-box;
  margin: 6px;
  border-radius: 4px;

  padding: 8px;

  transition: all .3s ease;
}

.list__card:hover {
  transform: scale(1.03);
}

.list__card:active {
  transform: scale(1.03) rotate(2deg);
}

.list__add__btn {
  margin: 6px;
  padding: 8px;
  text-align: center;
  border: none;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.card__label {

}

.card__date {
  font-size: 12px;
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 2px 4px;
  width: 50px;
  text-align: center;
}
.list__add__btn{
  color: #000000;
}
.list__add__btn:hover{
  color: #fff;
}

.list__add__btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.list__add__btn::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.list__add__btn:hover::before{
  height: 180%;
}
